{% for ip, weight in tenantIps.items() %}
/sbin/iptables -A PREROUTING -t nat -p tcp -d {{ lb_ip }} --dport 8080 -m statistic --mode random --probability {{ weight }} -j DNAT --to-destination {{ ip }}:80
{% endfor %}