# cloud-config
hostname: "{{ item.vm_name }}"
disable_root: false
users:
- default
- name: root
  lock_passwd: false
  plain_text_passwd: root
- name: ubuntu
  lock_passwd: false
  plain_text_passwd: ubuntu
  sudo: ALL=(ALL) NOPASSWD:ALL
ssh_pwauth: true
runcmd:
  - "00_EnableNAT.sh"
  - "01_CreateNATRules.sh"

#runcmd:
#  - |
#    # enable forwarding
#    echo 1 > /proc/sys/net/ipv4/ip_forward
#
#    # NAT rules, e.g., eth0 be outward interface and eth1/2 be subnet interface
#    /sbin/iptables -t nat -A POSTROUTING -o enp1s0 -j MASQUERADE
#    /sbin/iptables -A FORWARD -i enp2s0 -o enp1s0 -j ACCEPT
#    /sbin/iptables -A FORWARD -i enp1s0 -o enp2s0 -m state --state RELATED,ESTABLISHED -j ACCEPT
